unpackaged/main/default/flows/LMS_Course_Enrollment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Source_TI</name>
        <label>Check Source = TI</label>
        <locationX>572</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_TI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.C_DC_COURSE_ID__r.LMS_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.C_DC_COURSE_STATUS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SCORM_Event</targetReference>
            </connector>
            <label>Source = TI</label>
        </rules>
    </decisions>
    <description>Team Leader account profile implementation for &quot;Communicating Your Employment Brand&quot; course</description>
    <environments>Default</environments>
    <interviewLabel>LMS Course Enrollment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LMS Course Enrollment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Debug_Log</name>
        <label>Debug Log - fail</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ApexClass__c</field>
            <value>
                <stringValue>LMS Course Enrollment Platform Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Failed Record Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StackTrace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>ApexDebugLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SCORM_Event</name>
        <label>Create SCORM Event</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Debug_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LMS_Course_Enrollment_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TI_Contact_ID__c</field>
            <value>
                <elementReference>$Record.Contact__r.TI_Contact_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TI_Course_ID__c</field>
            <value>
                <elementReference>$Record.C_DC_COURSE_ID__r.TI_Course_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>SCORM_Test_Attempt__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>C_DC_COURSE_STATUS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>DOCEBO2_CO__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_Delay</name>
            <connector>
                <targetReference>Check_Source_TI</targetReference>
            </connector>
            <label>After Delay</label>
            <offsetNumber>20</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Student_Employment_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student_Employment__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>checking if Log Success is true. This way we can turn success logging on and off by just changing the value of the variable.</description>
        <name>LogSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Org_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Shop_Profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Profile__c</objectType>
    </variables>
    <variables>
        <name>Shop_Profiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Profile__c</objectType>
    </variables>
</Flow>
